.container
  %h2= @inquiry.subject

  .container.well
    = simple_format(@inquiry.body)
  = link_to "一覧を表示する", inquiries_path
  - if @inquiry.posted_by?(current_user)
    = link_to "編集する", edit_inquiry_path

  .container
    - @answers.each do |answer|
      .panel.panel-primary
        .panel-heading= answer.user.name
        .panel-body.answer-content= simple_format(answer.content)
    - if logged_in?
      = form_with model: Answer.new, local: true, url: inquiry_answers_path(@inquiry) do |f|
        .form.form-group
          = f.label :content
          = f.text_area :content, rows: 10, class: "form-control"
        = f.hidden_field :inquiry, :value => @inquiry.id
        .actions
          = f.submit '回答する'
